mixin navbar-menu(link='#', name,id)
  li.navbar__item(id=id)
    a.navbar__link(href=link)=name
    .navbar__popup-menu
      ul
        li
          a(href="#") Доставка аккумуляторов
        li
          a(href="#") Установка на авто
        li
          a(href="#") Установка на авто
        li
          a(href="#") Обмен старого на новый
        li
          a(href="#") Зарядка
        li
          a(href="#") Вывоз и покупка старых
        li
          a(href="#") Вывоз и покупка любых свинцовых отходов