include ./../../layouts/mixins
section.same-akb
  .container
    .same-akb__swiper
      h2.title Аналогичные аккумуляторы
      .row.swiper-container.default-swiper
        .same-akb__swiper-header
        button.swiper-button-prev
        .swiper-wrapper
          +card-slide('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
          +card-slide('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card-slide('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card-slide('3000','3.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '70', '500', 'Обратная [- +]', '300×200×100', '27000', '1', '1000')
          +card-slide('4000','1.png','Аккумуляторный аккумулятор аккумулятора Вакуумная Биполярочка', "Под заказ, но кому?", '100', '500', 'Биполярочка [+ +]', '666×333×111', '28000', '4', '10000')
          +card-slide('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')        
          +card-slide('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')
          +card-slide('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
        button.swiper-button-next
        .swiper-pagination
    .same-akb__swiper
      h2.title Вы недавно смотрели
      .row.swiper-container.default-swiper
        .same-akb__swiper-header
        button.swiper-button-prev
        .swiper-wrapper
          +card-slide('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
          +card-slide('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card-slide('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card-slide('3000','3.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '70', '500', 'Обратная [- +]', '300×200×100', '27000', '1', '1000')
          +card-slide('4000','1.png','Аккумуляторный аккумулятор аккумулятора Вакуумная Биполярочка', "Под заказ, но кому?", '100', '500', 'Биполярочка [+ +]', '666×333×111', '28000', '4', '10000')
          +card-slide('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')        
          +card-slide('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')
          +card-slide('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
        button.swiper-button-next
        .swiper-pagination