extends ../layouts/default

block variables
	- const title = "Каталог";

block content
	.container
		p Тут просто место для хлебных крошечек...
	include ../blocks/catalog-page/catalog-page
block scripts
	script(src="/js/main.js")
	script(src="/js/catalog.js")
	script(src="/js/vendor.js")