extends ../layouts/default

block variables
	- const title = "Доставка";

block content
	.container
		p Тут просто место для хлебных крошечек...
	main
		include ../blocks/delivery/delivery
block scripts
	script(src="/js/main.js")
	script(src="/js/vendor.js")