mixin input-search(className)
  div(class=className).input-search
    input(type="text" pattern=".{1,}" required placeholder="Поиск по сайту")
    span.input-search__placeholder Поиск по сайту
    span.fa.input-search__icon