include ./../../layouts/mixins
mixin aside-title(title, text)
  .catalog-aside__title
    span=title
    small(title=text) ?

.catalog-page
  .container
    aside.catalog-aside
      .catalog-aside__header
        span Фильтр по параметрам
      ul.catalog-aside__list
        li
          +aside-title("Цена","Цена товара без учета скидок")
          .catalog-aside__input
            input(placeholder="100")
            span 
            input(placeholder="10000")
          .catalog-aside__range
            small(data-min='100') 100
            small(data-max='100') 10000
            .slider-range
              .slider-range__handler
              .slider-range__handler
        li
          +aside-title("Бренд","Просто бренды...")
          ul.catalog-aside__checkbox
            li
              +input-checkbox("","Varta")
            li 
              +input-checkbox("","Bosch")
            li 
              +input-checkbox("","Exide")
            li 
              +input-checkbox("","Mutlu")
            li 
              +input-checkbox("","Tyumen Battery")
            li 
              +input-checkbox("","Banner")
            li 
              +input-checkbox("","Bars")
            li 
              +input-checkbox("","GS YUASA")
        li
          +aside-title("Емкость, А/ч","эмм... емкость?")
          .catalog-aside__input
            input(placeholder="100")
            span 
            input(placeholder="10000")     
          .catalog-aside__range
            small(data-min='100') 100
            small(data-max='100') 10000
            .slider-range
              .slider-range__handler
              .slider-range__handler  
        li
          +aside-title("Полярность","сайт рыба окунь... не влезает")
          ul.catalog-aside__checkbox
            li
              +input-checkbox("","Обратная")
            li
              +input-checkbox("","Прямая")
            li
              +input-checkbox("","Универсальная")
    main.catalog-main
      section.catalog-main__section
        .row
          h2.title Аккумуляторы для автомобилей
        .catalog-main__grid.row
          +card('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
          +card('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card('3000','3.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '70', '500', 'Обратная [- +]', '300×200×100', '27000', '1', '1000')
          +card('4000','1.png','Аккумуляторный аккумулятор аккумулятора Вакуумная Биполярочка', "Под заказ, но кому?", '100', '500', 'Биполярочка [+ +]', '666×333×111', '28000', '4', '10000')
          +card('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')        
          +card('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')
          +card('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
          +card('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
          +card('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card('2000','2.png','Аккумулятор SMART Element 65 А.ч Обратная полярность', "", '65', '400', 'Обратная [- +]', '250×175×200', '26000', '3', '2000')
          +card('3000','3.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '70', '500', 'Обратная [- +]', '300×200×100', '27000', '1', '1000')
          +card('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')        
          +card('5000','2.png','Отрицательный аккумулятор холодный Недавака', "", '0', '0', 'Заминусовали [-_-]', '1×1×1', '29000', '0', '100')
          +card('1000','1.png','Аккумулятор ATOM 60 A.ч Обратная полярность.', "Под заказ", '60', '450', 'Обратная [- +]', '242×175×190', '25000', '5', '2300')
        .catalog-main__desc 
          p Пример текста в описания категории. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
        .catalog-main__pagination Тут типа пагинация, стили есть
          button.btn-pagination 1
          button.btn-pagination 2
          button.btn-pagination 3
          button.btn-pagination 4
          button.btn-pagination 5
